<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gao.fu.dao.WechatBasicDaoImpl">
    <select id="findTokenNameMap" parameterType="list" resultType="map">
        SELECT `token`,`name` FROM `qa_business_wechat_basic`
        <if test="list != null">
            <where>
                `token` IN
                <foreach item="item" collection="collection" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>
    </select>
</mapper>